@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400&display=swap');
@import url('footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    aspect-ratio: 16/9;
}

body {
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: 'Roboto';
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: #000;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #ffffff;
}

.glassmorphism {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 20px;
    padding: 45px 20px;
    margin: 40px;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background-color: #ffffff;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax-1 {
    background-image: url('../assets/background-1.jpg');
}

.list-unstyled {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.list-unstyled li a {
    text-decoration: none;
    font-size: 1rem;
    color: #85c;
    padding: 0 5px;
    transition: all .3s;
}

.list-unstyled li a:hover {
    color: #00bf63;
}

.logo {
    font-size: 1.4rem;
    color: #85c;
    margin: 0;
}

.logo b {
    color: #00bf63;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 10px 20px;
}

nav h1 {
    padding: 0 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 3;
    align-items: center;
    justify-content: center;
}

.card, .card-2{
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 33%;
}

.card {
    margin: 10px;
    padding: 20px 40px;
}

.card-2{
    padding: 12px;
}

.card-2 img{
    width: 100%;
}
 
.card strong {
    font-size: 1.3em;
    min-height: 50px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #85c;
}

.glass-img{
    height: 100%;
    width: 25%;
}

.glass-txt{
    width: 50%;
    height: 100%;
}

#imgArrowDown{
    display: block;
    margin: auto;
}


@media screen and (max-width: 768px) {
    article{
        margin-top:3%;
        padding-bottom: 3%;
    }

    nav {
        flex-direction: column;
        height: auto;
    }
    nav ul {
        margin-top: 0.5rem;
    }

    .list-unstyled{
        flex-wrap: wrap;
    }

    .list-unstyled li{
        padding: 6px;
    }

    .card-container{
        flex-wrap: wrap;
    }

    .card{
        width: 75%;
        height: auto;
        padding: 24px;
    }

    .glassmorphism{
        width: 90%;
        margin: 15px auto !important;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .glass-img{
        width: 80% !important;
    }
    .glass-img img{
        width: 100%;
        margin-left: -20px;
    }

    .glass-txt{
        width: 90% !important;
    }

    section.module.parallax{
        height: 100% !important;
    }

    .card-container-2{
        width: 95% !important;
    }

    .card-2{
        width: 100%;
    }
    
    .div2{
        width: 100% !important;
    }

    .hr-card{
        display: block !important;
        width: 100%;
        margin: 16px 0;   
    }

    #h1-b{
        margin: 16px auto;
    }

    .btn-primary{
        margin-top: 12px !important;
    }
}

.hr-card{
    display: none;
}

.contentDiv{
    width: 80%;
    padding: 18px 24px;
    margin: auto;
    background: white;
    border-radius: 10px;
}

.contentDiv p{
    margin-bottom: 12px !important;
    text-align: justify;
    font-weight: bold;
}

.contentDiv h2{
    margin: 12px 0 !important;
}

.titleArticle{
    width: 100%;
    background-color: white;
    margin: auto;
    padding: 12px 0;
}

.titleArticle h1{
    text-align: center;
}

.lessPadding{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.div2{
    width: 45%;
}

.flexDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#h1-b{
    margin-top: 1%;
}

.btn-primary{
    margin: 2% 0;
}

.btn-primary p{
    padding: 12px 18px;
    background-color: #85c;
    border-radius: 6px;
    display: inline;
    width: auto;
    text-align: center;
}

.btn-primary a{
    color: white;
    text-decoration: none;
}